@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 10px;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --type-normal: #a8a878;
  --type-fight: #e83000;
  --type-flying: linear-gradient(180deg, #98d8d8 50%, #a8a878 50%);
  --type-poison: linear-gradient(180deg, #f85888 50%, #a040a0 50%);
  --type-ground: linear-gradient(180deg, #d8e030 50%, #b8a038 50%);
  --type-rock: #b8a038;
  --type-bug: #d8e030;
  --type-ghost: #a040a0;
  --type-steel: linear-gradient(180deg, #a8a878 50%, #507888 50%);
  --type-fire: #f08030;
  --type-water: #6890f0;
  --type-grass: #78c850;
  --type-electric: #f8b010;
  --type-psychic: #f85888;
  --type-ice: #98d8d8;
  --type-dragon: linear-gradient(180deg, #6890f0 50%, #e83000 50%);
  --type-dark: #507888;
  --type-fairy: #ec8fe6;
  --type-default: transperent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.input {
  @apply w-full text-gray-900 p-4 rounded-lg
}

@keyframes jiggle {
  0% {
    transform: translateX(-50%) rotate(10deg);
  }
  100%{
    transform: translateX(-50%) rotate(-10deg);
  }
}

@keyframes wiggle {
  0%{
    transform: translateY(0)
  }
  100%{
    transform: translateY(-0.4rem);
  }
}

.pokemon-egg {
  animation: jiggle 2s alternate infinite ease-in-out;
  transform-origin: bottom center;
}

.selected-box {
  animation: wiggle 0.2s alternate infinite linear;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  color: rgb(var(--foreground-rgb));
}
