@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 10px;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.input {
  @apply w-full text-gray-900 p-4 rounded-lg
}

@keyframes jiggle {
  0% {
    transform: translateX(-50%) rotate(10deg);
  }
  100%{
    transform: translateX(-50%) rotate(-10deg);
  }
}

.pokemon-egg {
  animation: jiggle 2s alternate infinite ease-in-out;
  transform-origin: bottom center;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  color: rgb(var(--foreground-rgb));
}
